.answer {
  font-weight: 800;
  margin-left: 5px;
}

.answerInExample {
  font-weight: 800;
}

.inputAnswer {
  border: none;
  border-bottom: thin dashed black;
  outline: none;
  font-weight: 800;
  font-size: 1em;
}

.right {
  color: green;
}

.wrong {
  color: red;
}
